$content-width: 720px;
$content-width-sm: 480px;
$content-width-md: 720px;
$content-width-lg: 1100px;

$breakpoints: (
        xs: 0px,
        xxs: 380px,
        sm: 480px,
        md: 720px,
        lg: 920px,
        xl: 1200px,
        xxl: 1600px,
);
$grid-sizes: (
        sm: 2,
        md: 3,
        lg: 4,
        xl: 6
);
$grid-responsive-sizes: (
        sm: 3,
        md: 4,
        lg: 6,
);
$grid-gaps: (
        no: 0px,
        xs: 10px,
        sm: 20px,
        md: 30px,
        lg: 40px,
        xl: 50px,
        xxl: 60px,
);
$widths-list: (
        16: 16px,
        20: 20px,
        24: 24px,
        32: 32px,
        40: 40px,
        48: 48px,
        50: 50px,
        55: 55px,
        64: 64px,
        75: 75px,
        92: 92px,
        100px: 100px,
        128: 128px,
        150: 150px,
        175: 175px,
        200: 200px,
        250: 250px,
        256: 256px,
        350: 350px,
        300: 300px,
        400: 400px,
        500: 500px,
        600: 600px,
        700: 700px,
        750: 750px,
        800: 800px,
        820: 820px,
);

$font-size: 16px;
$font-heading: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-body: Arial, Helvetica, sans-serif;
$primary-color: #C34545;

@import "general/borders";
@import "general/mixins";
@import "general/margins_paddings";
@import "general/flex";
@import "general/helpers";
@import "general/grid";
@import "general/modal";
@import "general/shadows";
@import "general/type";

@import "pages";

