$border-variations: (
    0: 0%,
    10: 10%,
    15: 15%,
    20: 20%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
);

@each $name, $percent in $border-variations {
    .border-white-#{$name} {
        border: 1px solid darken(white, $percent)
    }
    .border-white-tb-#{$name} {
        border-top: 1px solid darken(white, $percent);
        border-bottom: 1px solid darken(white, $percent);
    }
    .border-white-lr-#{$name} {
        border-left: 1px solid darken(white, $percent);
        border-right: 1px solid darken(white, $percent);
    }
    .border-white-t-#{$name} {
        border-top: 1px solid darken(white, $percent);
    }
    .border-white-b-#{$name} {
        border-bottom: 1px solid darken(white, $percent);
    }
    .border-white-l-#{$name} {
        border-left: 1px solid darken(white, $percent);
    }
    .border-white-r-#{$name} {
        border-right: 1px solid darken(white, $percent);
    }
}